.form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem 0;
}

.input {
    background-color: white;
    padding: 0.8rem 10rem 0.8rem 0.8rem;
    border: 1px solid rgb(224, 224, 224);
    border-right: none;
    border-radius: 12px;
    width: 25rem;
    color: gray;
    font-size: 1rem;
}

.input:focus {
    border: 1px solid #646FEF;
    border-right: none;
}

.button {
    cursor: pointer;
    border-radius: 0 12px 12px 0;
    background-color: #646FEF;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.8rem 0.8rem;
    position: absolute;
    top: 1;
    right: 0px;
    transition: all 0.4s ease;
}

.button:hover {
    background-color: #3d4be9;
}

.clear {
    cursor: pointer;
    position: absolute;
    top: 11px;
    right: 105px;
}

.error {
    border: 1px solid red;
}