.list {
    background-color: #d9d9e7;
    border-radius: 10px;
    padding: 0.3rem 1rem;
    min-height: 4vh;
    max-width: 545px;
    max-height: 75vh;
    overflow-y: auto;
}

.empty {
    font-size: 20px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #636481;
}