body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #eaebf5;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input, button {
    outline: none;
    border: none;
    background: none;
}